@charset utf-8;@import url(fonts.css);
*{text-decoration:none;margin:0;padding:0;}
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol,li,select,input{list-style:none;outline:none;border:none;margin:0 auto;padding:0;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top15{margin-top:15px;}
.top20{margin-top:20px;}
.top25{margin-top:25px!important;}
.top30{margin-top:30px!important;}
.top35{margin-top:35px!important;}
.top40{margin-top:40px!important;}
.top45{margin-top:45px;}
.top50{margin-top:50px;}
.top55{margin-top:55px;}
.top60{margin-top:60px;}
.top65{margin-top:65px;}
.top70{margin-top:70px;}
.top75{margin-top:75px;}
.top80{margin-top:80px;}
.top85{margin-top:85px;}
.top90{margin-top:90px;}
.top100{margin-top:100px;}
.top105{margin-top:105px;}
.top115{margin-top:115px;}
.top120{margin-top:120px;}
.top150{margin-top:150px;}
.top220{margin-top:220px;}
.top195{margin-top:195px;}
.top210{margin-top:210px;}
.top350{margin-top:350px;}
.top395{margin-top:395px;}
.bottom5{margin-bottom:5px;}
.bottom10{margin-bottom:10px;}
.bottom15{margin-bottom:15px;}
.bottom20{margin-bottom:20px;}
.bottom25{margin-bottom:25px;}
.bottom30{margin-bottom:30px;}
.bottom35{margin-bottom:35px;}
.bottom40{margin-bottom:40px;}
.bottom45{margin-bottom:45px;}
.bottom50{margin-bottom:50px;}
.bottom55{margin-bottom:55px;}
.bottom60{margin-bottom:60px;}
.bottom65{margin-bottom:65px;}
.bottom70{margin-bottom:70px;}
.bottom75{margin-bottom:75px;}
.bottom80{margin-bottom:80px;}
.bottom90{margin-bottom:90px;}
.bottom100{margin-bottom:100px;}
.bottom120{margin-bottom:120px;}
.bottom135{margin-bottom:135px;}
.bottom180{margin-bottom:180px;}
.bottom200{margin-bottom:200px;}
.bottom280{margin-bottom:280px;}
.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left80{margin-left:80px;}
.left81{margin-left:81px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px!important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}
.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.container{width:1170px!important;}
.input100{width:100%!important;}
body{font-family:Lato, sans-serif;}
a:hover{text-decoration:none!important;}
.media-left,.media-right,.media-body{vertical-align:middle!important;}
input,select,textarea{min-height:42px;color:#000;border-radius:0!important;font-size:20px;}
.btn{border-radius:0;}
.padding0{padding:0;}
h1{font-size:25px;color:#000;}
h1 span{font-size:20px;color:#3c3834;font-weight:400;}
h2{font-size:25px;color:#000;font-family:"Lato Black";}
h2 span{font-size:20px;font-family:Lato, sans-serif;font-weight:400;}
h3{font-size:30px;color:#373435;font-family:futura__condensed;}
h3 span{colofont-size:30px;}
h5{font-size:30px;color:#373435;}
h5 span{font-size:64px;}
p{font-weight:300;font-size:20px!important;color:#000;text-align:justify;}
.font-futura{font-family:futura__condensed;}
.lato_bold{font-family:"Lato Bold";}
.MyriadPro_Regular{font-family:MyriadPro-Regular;}
.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;right:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}
#appearance-select{cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../imgs/arrow_drown.png) no-repeat #d7d6d7;background-position:218px center;width:250px;height:57px;border:0;}
#appearance-select1{cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:url(../imgs/arrow_drown.png) no-repeat #d7d6d7;background-position:168px center;width:194px;height:40px;border:0;}
.topo{background:url(../imgs/bg_topo.png) top center no-repeat;height:197px;}
.lista-itens-carrinho h1{font-size:15px;}
.unidades span{font-size:15px;color:#000;font-family:futura__condensed;}
.div_personalizada{padding-top:0!important;padding-bottom:0!important;}
.topo-meu-orcamento{background:#fff;width:470px;padding:0 10px;}
.carrinho_topo{padding-bottom:5px!important;padding-top:5px!important;}
.menu_cat li a{overflow:hidden;width:107px;height:80px;text-align:center;font-size:12px;line-height:15px;color:#3c3834;background:url(../imgs/barra_lateral_topo.png) left 15px no-repeat;margin-top:-4px;padding:16px;}
.menu_cat li a:hover{margin-top:-4px;height:80px;background:#e2cd2d url(../imgs/barra_lateral_topo.png) left no-repeat;}
.menu_cat li a img{margin-bottom:6px;}
.menu_cat .dropdown a,.menu_cat .dropdown a:hover{overflow:inherit;margin-right:-15px;margin-top:-5px;padding:0;}
.menu_cat .dropdown
.btn_amarelo{border-radius:0;font-size:17px;width:auto;height:auto;margin-right:0;background:#ffe51d;color:#000;padding:10px 20px;}
.menu_cat .dropdown
.btn_amarelo:hover{background:#e2cd2d;color:#fff;margin-right:0;padding:10px 20px;}
.menu_cat .dropdown
.topo-meu-orcamento{background:#fff;width:470px;margin-right:-4px;padding:15px;}
.menu li a{font-size:20px;color:#373435;}
.menu li.active a,.menu li:hover a{border-bottom:4px solid #373435;background:none;}
.borda_carrinho{border-bottom:1px solid #ffe51d;}
.rodape{background:#dfe5e8;}
.rodape-preto{background:#000;}
.rodape-preto h5{font-size:20px;color:#fff;font-weight:300;}
.menu-rodape li a{color:#373435;font-size:12px;font-weight:400;margin-right:35px;}
.menu-rodape li a:hover,.menu-rodape li a.active{font-weight:400;color:#ffc72a;}
.menu-rodape{list-style:none;padding:0;}
.barra_branca{border-bottom:1px solid #fff;padding-bottom:35px;}
.menu-rodape li{float:left;}
#container_banner{width:100%;height:638px;overflow:hidden;position:relative;margin:0 auto;}
#content_slider{width:1920px;height:638px;overflow:hidden;position:absolute;margin-left:-960px;top:0;left:50%;}
#content-slider-1 .rsTabs{width:150px;height:50px;z-index:9999;position:absolute;left:899px;top:456px;text-shadow:-4px -3px 2px rgba(0,0,0,0.76);}
#content-slider-1 .rsNavItem{background:#b8b8b8;width:25px;opacity:0.5;height:25px;float:left;margin-right:10px;cursor:pointer;border-radius:50%;}
#content-slider-1 .rsNavSelected{opacity:1;background:#343136;}
#container_banner .rsArrowLeft{display:block;width:20px;height:20px;background:url(../imgs/arrow_left.png) center no-repeat;z-index:99999;bottom:158px;position:absolute;left:862px;}
#container_banner .rsArrowRight{display:block;width:20px;height:20px;background:url(../imgs/arrow_right.png) center no-repeat;z-index:99999;bottom:158px;position:absolute;right:856px;}
.btn_linha_escritorio,.btn_linha_escritorio:hover{font-size:17px;color:#fff;background:#d41f2b;padding:20px 10px;}
.subir_produtos_destaques{margin-top:-190px;}
.btn_produtos_destaques{font-size:16px;color:#000;background:#fff28e;padding:20px 10px;}
.btn_produtos_destaques:hover,.btn_produtos_destaques.active{color:#000;background:#ffe51d;}
.produtos_home h3{font-size:12px;font-weight:400;}
.produtos_home h1{overflow:hidden;height:26px;font-size:20px;font-weight:400;}
.cod_numerao p{overflow:hidden;height:26px;font-size:15px;font-weight:400;}
.cod_numerao{overflow:hidden;height:26px;}
.btn_saiba_mais_produtos:hover{background:#edeef0;}
.conheca_mais_home{overflow:hidden;max-height:195px;}
.bg_conheca_home{height:828px;background:url(../imgs/bg_conheca_home.jpg) center no-repeat;}
.btn_conheca_mais:hover,.btn_ver_todos:hover{background:#e5b431;}
.btn_ver_todos{font-size:24px;color:#000;font-family:"Lato Black";background:#ffe51d;padding:12px;}
.btn_nossas_dicas,.btn_nossas_dicas:focus,.btn_nossas_dicas.active{background:none;color:#000;z-index:5555;font-size:15px;font-family:"Lato Black";outline:none!important;}
.slider-parceiros-clientes{height:354px;}
.lista-parceiros h1{font-size:25px;font-family:"Lato Bold";color:#000;height:60px;}
.dicas_descricao_home{overflow:hidden;height:83px;}
.subir_dicas{margin-top:-180px;}
.borda_empresa{border:10px solid #fff;position:absolute;top:30px;z-index:0;left:47px;width:589px;height:385px;}
.group4{z-index:99999;cursor:0;}
.slider-parceiros-equipe{height:auto;}
.slider-parceiros-equipe .bg_imagem{background:url(../imgs/bg_fundo_clientes.png);min-height:127px;}
.slider-parceiros-empresa{height:auto;background:url(../imgs/sombra_slider_empresa.png) bottom 5px center no-repeat;}
#carousel-example-generic-empresa .carousel-indicators,.slider-parceiros-empresa .carousel-indicators{bottom:-21px;}
#carousel-example-generic-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.left{left:235px;top:inherit;bottom:-18px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.right{right:235px;top:inherit;bottom:-18px;width:25px;height:25px;z-index:100;}
.breadcrumb{font-size:21px;background:none;}
.breadcrumb i{border-radius:50%;border:1px solid #000;padding:5px;}
.breadcrumb i:hover,.breadcrumb a:hover{color:#e2cd2d;cursor:pointer;}
.breadcrumb a.active{color:#000;cursor:none;}
.active1{font-size:20px;color:#000!important;font-family:futura__condensed;padding-left:15px!important;}
.breadcrumb a{text-decoration:none;outline:none;display:block;float:left;font-size:20px;font-weight:300;line-height:36px;color:#000;position:relative;padding:0 10px 0 24px;}
.breadcrumb a:after{content:'';position:absolute;top:7px;right:-10px;width:20px;height:20px;transform:scale(0.707) rotate(45deg);z-index:1;box-shadow:2px -2px 0 2px rgba(0,0,0,0.1), 2px -2px 0 1px rgba(0,0,0,1);border-radius:0 5px 0 50px;}
.breadcrumb a:last-child:after{content:none;}
.bg_empresa_valores{background:url(../imgs/bg_empresa_valores.jpg) center no-repeat;height:550px;}
.empresa_valores{overflow:hidden;max-height:125px;}
.unidades .form-control{background:#e5e5e5;font-size:20px;}
.btn_outras_unidades{background:none;font-size:20px;color:#000;}
.btn_outras_unidades:hover{background:#e5e5e5;}
.unidades .dropdown-menu{top:44px;}
.unidades_contatos .dropdown-menu{left:60px;top:49px;}
.borda_galeria{border:10px solid #fff;position:absolute;top:30px;z-index:0;left:47px;width:596px;height:550px;}
.menu_galeria .list-group{padding-left:8px;margin-bottom:20px;}
.menu_galeria .list-group-item{margin-bottom:-1px;backgroundr:none;border:none;border-radius:0;color:#3c3834;font-size:15px;font-family:"Lato Black";text-decoration:none;background:none;padding:16px 35px;}
.slider_galeria
.flex-control-paging li a{width:0!important;height:0!important;color:#343136;}
.slider_galeria{height:auto;background:url(../imgs/sombra_slider_empresa.png) bottom 50px center no-repeat;}
.slider_galeria .flexslider{border:0;}
.slider_galeria	.flexslider .slides img{height:600px;z-index:9999!important;}
.zoom a{cursor:0;}
.titulo_contatos h5{font-size:63px;color:#373435;font-family:futura__condensed;}
.fundo_formulario input,.fundo_formulario textarea{border:1px solid #dcdcdc;border-top-width:3px;border-top-color:#000;border-radius:0;font-size:20px;color:#000;}
.btn-formulario{background:#ffe51d;color:#000;font-size:20px;font-weight:700;border-radius:0;-moz-box-shadow:0 1px 4px #000;-webkit-box-shadow:0 1px 4px #000;box-shadow:0 1px 4px #000;padding:19px 36px;}
.unidades_contatos h1{font-size:20px;font-family:"Lato Bold";}
.dicas_geral img{border-radius:5px;}
.btn_dicas{font-family:MyriadPro-Regular;font-size:20px;font-weight:300;color:#373435;border-radius:0;background:#ffe51e;padding:15px 12px;}
.dicas_geral .dicas_geral_desc{max-height:84px;overflow:hidden;}
.menu_dicas .list-group{padding-left:8px;margin-bottom:20px;background:#ffe51d;}
.menu_dicas .list-group-item{margin-bottom:-1px;margin-left:-7px;backgroundr:none;border:none;border-radius:0;color:#3c3834;font-size:15px;font-family:"Lato Black";text-decoration:none;background:none;padding:16px 35px;}
.menu_dicas h2{font-size:24px;}
.scrol_empresa{overflow:hidden;height:106px;}
.lista_produtos .list-group{margin-top:-10px;overflow:hidden;height:106px;background:#ffe51d;}
.jspContainer{overflow:hidden;position:relative;height:106px!important;}
.jspPane{position:absolute;}
.jspVerticalBar{position:absolute;top:0;right:0;width:7px;height:100%;background:none;}
.jspDrag{background:#000;opacity:0.2;height:50px;position:relative;top:0;left:0;cursor:pointer;}
* html .jspCorner{margin:0 -3px 0 0;}
.btn_produtos{font-family:"Lato Black";font-size:17px;color:#fff;border-radius:0;background:#d41f2b;padding:15px 12px;}
.fundo_produtos{background:#ffe51d;}
.fundo_produtos h1{padding-bottom:15px;background:url(../imgs/barra_produtos.png) bottom no-repeat;}
.lista_produtos .list-group-item{color:#343136;width:104%;margin-bottom:-1px;border-radius:0;font-size:15px;font-family:Lato, sans-serif;text-decoration:none;background:#ffe51d;border:0;padding:8px;}
.lista_produtos .list-group-item:hover,.lista_produtos a.list-group-item:focus,.lista_produtos a.list-group-item.active{background-color:#e2cd2d;color:#343136;}
.fundo_produtos_todos{background:#d41f2b;padding:56px 0;}
.fundo_produtos_todos h2{font-size:17px;color:#fff;}
.menu_produtos_geral .list-group{padding-left:8px;margin-bottom:0;background:#ffe51d;}
.menu_produtos_geral .list-group-item{margin-left:-8px;border:none;overflow:hidden;height:31px;border-radius:0;color:#3c3834;font-size:15px;text-decoration:none;background:none;padding:9px 16px;}
.menu_produtos_geral h1{font-size:15px;color:#000!important;background:url(../imgs/barra_cat_produto.png) center bottom no-repeat;padding-bottom:10px;font-family:"Lato Black";}
.descricao_slider_prod h1{font-size:30px;color:#000;}
.btn_orcamento{background:#d41f2b;color:#fff;font-family:"Lato Black";font-size:17px;padding:17px 12px;}
.btn_orcamento:hover{background:#b92528;color:#fff;}
.descricao_slider_prod p{font-weight:400;}
.titulo_orcamento h5{font-size:44px;}
.titulo_orcamento h5 span{font-size:63px;}
.input-lista-prod-orcamentos{width:32px;min-height:36px!important;text-align:center;background:#ffe51d;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;font-size:13px;}
.tabela_carrinho thead th{background:#ffe51d;padding:10px 5px;}
.tabela_carrinho table{font-size:15px;color:#000;font-weight:400;}
.tabela_carrinho .table>tbody>tr>td,.tabela_carrinho .table>thead>tr>th{vertical-align:middle;border-bottom:1px solid #fcb616;padding:10px 5px;}
.fa-times-circle::before{color:red;}
.bg_branco{background:#fff;-moz-box-shadow:0 -1px 9px #000;-webkit-box-shadow:0 -1px 9px #000;box-shadow:0 -1px 9px #000;}
.slider_prod_geral #slider{margin:0;}
.slider_prod_geral #carousel{margin:0 0 -5px;}
.slider_prod_geral #carousel li{width:77px!important;margin-right:5px;}
.slider_prod_geral
.slider-prod{height:402px;overflow:hidden;}
.slider-prod-tumb{height:127px;overflow:hidden;}
.slider_prod_geral
.slider-prod-tumb li img{height:80px!important;width:80px!important;}
.slider_prod_geral
.flex-control-paging li a{width:0!important;height:0!important;}
.slider_prod_geral
.flex-direction-nav a{width:45px;height:45px!important;top:28%;}
#carousel img:hover{opacity:1;}
#carousel img{display:block;opacity:.5;cursor:pointer;}
.tabs_unidades .nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#5b5b5b;cursor:default;background-color:#d7d6d7;border:1px solid #ddd;border-bottom-color:transparent;font-size:20px;}
.tabs_unidades li a{color:#000;font-size:20px;}
.tabs_unidades li.active,.tabs_unidades li:hover{background:#d7d6d7;}
.titulo-categoria-medidas{background:#ffe51d;font-size:22px;color:#373435;font-family:futura__condensed;text-align:center;padding:15px 12px;}
.lista-link-medidas a{color:#3c3834;font-size:15px;display:block;margin-bottom:15px;}
.lista-link-medidas a.active{font-size:20px;}
.detalhes-medidas .titulo-tabela{background:#a4a4a4;color:#3c3834;font-size:15px;font-family:"Lato Black";padding:10px;}
.top10,.contatos_topo .media{margin-top:10px;}
.relativo,.lista_parceiros_empresa{position:relative;}
::-webkit-input-placeholder,:-moz-placeholder,::-moz-placeholder,:-ms-input-placeholder{color:#000;font-family:"Lato Bold";font-size:20px;}
.lato-black,.detalhes-medidas h1 span{font-family:"Lato Black";}
.telefone_rodape p,.fa-google-plus:before{color:#000;}
.btn_saiba_mais_produtos,.btn_conheca_mais{font-size:20px;font-weight:300;color:#373435;border:1px solid #000;border-radius:5px;}
.btn_ver_todos:hover,.btn_dicas:hover{background:#e2cd2d;}
#carousel-example-generic-equipe .carousel-indicators,.slider-parceiros-clientes .carousel-indicators,#carousel-example-generic-clientes .carousel-indicators,.slider-parceiros-clientes .carousel-indicators{bottom:-50px;}
#carousel-example-generic-equipe .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-clientes .carousel-indicators li,.slider-parceiros-clientes .carousel-indicators li,#carousel-example-generic-empresa .carousel-indicators li,.slider-parceiros-empresa .carousel-indicators li{width:20px;height:20px;background:#7f7f7f;border:none;margin-right:5px!important;}
#carousel-example-generic-equipe .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-clientes .carousel-indicators .active,.slider-parceiros-clientes .carousel-indicators .active,#carousel-example-generic-empresa .carousel-indicators .active,.slider-parceiros-empresa .carousel-indicators .active{background:#000;margin:1px;}
#carousel-example-generic-equipe .carousel-control.left,#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-empresa .carousel-control.left,#carousel-example-generic-empresa .carousel-control.right,.slider-parceiros-empresa .carousel-control.left,.slider-parceiros-empresa .carousel-control.right{background:none;}
#carousel-example-generic-equipe .carousel-control.left,.slider-parceiros-clientes .carousel-control.left,#carousel-example-generic-clientes .carousel-control.left,.slider-parceiros-clientes .carousel-control.left{left:305px;top:inherit;bottom:-47px;width:25px;height:25px;z-index:100;}
#carousel-example-generic-equipe .carousel-control.right,.slider-parceiros-clientes .carousel-control.right,#carousel-example-generic-clientes .carousel-control.right,.slider-parceiros-clientes .carousel-control.right{right:305px;top:inherit;bottom:-61px;width:40px;height:40px;z-index:100;}
#carousel-example-generic-equipe .fa-chevron-left,#carousel-example-generic-equipe .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-clientes .fa-chevron-left,#carousel-example-generic-clientes .fa-chevron-right,.slider-parceiros-clientes .fa-chevron-left,.slider-parceiros-clientes .fa-chevron-right,#carousel-example-generic-empresa .fa-chevron-left,#carousel-example-generic-empresa .fa-chevron-right,.slider-parceiros-empresa .fa-chevron-left,.slider-parceiros-empresa .fa-chevron-right{font-size:20px;color:#000;}
.unidades .fa-angle-down:before,.unidades_contatos .fa-angle-down:before{font-size:26px;}
.menu_galeria .list-group-item:hover,.menu_galeria a.list-group-item:focus,.menu_galeria a.list-group-item.active,.menu_galeria .list-group-item li:hover,.menu_galeria li a.list-group-item:focus,.menu_galeria li a.list-group-item li .active{background-color:#ffe51d;color:#3c3834;}
.dicas_geral h1,.dicas_dentro h1{font-weight:300;font-size:30px;}
.menu_dicas .list-group-item:hover,.menu_dicas a.list-group-item:focus,.menu_dicas a.list-group-item.active,.menu_produtos_geral .list-group-item:hover,.menu_produtos_geral a.list-group-item:focus,.menu_produtos_geral a.list-group-item.active,.menu_produtos_geral li a.list-group-item.active,.menu_destaques a.active{background-color:#e2cd2d;color:#3c3834;}
.btn_produtos:hover,.fundo_produtos_todos:hover{background:#b92528;}
.slider-prod-tumb .flexslider .slides img,.slider-prod li img{height:100%;}

.slider_prod_geral img{
  cursor: -webkit-zoom-in;
}

#appearance-select-disabled{-webkit-appearance: none;appearance: none;-moz-appearance: none;-o-appearance: none;-moz-appearance: window;}

.unidades_contatos .btn_outras_geral {
    font-size: 20px;
    height: 50px;
}
